@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #dcd7f8;
    --color_secundario: #dad0f8;
    --text-dark: #3f3b57;
    --text-light: #908ca3;
    --tamaño_fuente:18px;
    --maximo_ancho: 1200px;
    --alto__nav:70px;
}

::selection {
    background-color: var(--color_primario);
    color: var(--color_secundario);
    position: static;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: var(--tamaño_fuente);
    background-color: var(--color_primario);
    color: var(--text-dark);
}

header {
    background-color: var(--color_primario);
    position: static;
    width: 100%;
    top: 0;
}

.h-100 {
    height: calc(100vh - var(--alto__nav))
}

.contenedor {
    width: 100%;
    max-width: var(--maximo_ancho);
    margin: 0 auto;
    overflow: hidden;
}

.nav__contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__lista {
    height: var(--alto__nav);
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.nav__link {
    text-decoration: none;
    color: var(--text-dark);
    font-weight: bold;
}

/*-------------------
---------HOME--------
-------------------*/

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color_secundario);
    max-width: 100%;
    height: 68vh;
}

.contenedor-textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.img1 {
    height: 250px;
}

.img2 {
    position: relative;
    right: 260px;
}

.btn {
    display: inline-block;
    background-color: var(--text-light);
    color: var(--color_negro);
    text-decoration: none;
    font-weight: 500;
    padding: 10px;
    border-radius: 30px;
}

.titulo {
    font-size: 48px;
    font-weight: 700;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: var(--text-dark);
    margin: 20px 0 0 0;
    height: 40px;
}

.titulo1 {
    font-size: 70px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: var(--text-dark);
    margin: 0 0 30px 0;
    height: 80px;
}

.parrafo {
    margin: 0;
    font-weight: 300;
    font-size: 24px;
    color: var(--text-light);
    text-align: center;
}

.parrafo1 {
    margin: 20px 0;
    font-weight: bold;
    font-size: 24px;
    color: var(--text-dark);
}

.parrafo2 {
    margin-bottom: 10px;
    font-size: 48px;
    color: var(--text-dark);
}

.get {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 22vh;
}

/*-------------------
---------GET---------
-------------------*/

.contenedor_inferior {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40vh;
    max-width: var(--maximo_ancho);
    margin: 0 auto;
}

.contenedor_columna {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.fondo_static {
    height: 180px;
    width: 200px;
}

.img_delantera {
    position: relative;
    height: 120px;
    width: 100px;
    bottom: 160px;
}

.img_delantera2 {
    position: relative;
    height: 120px;
    width: 100px;
    bottom: 160px;
}

.img_delantera3 {
    position: relative;
    height: 120px;
    width: 100px;
    bottom: 160px;
}

.titulo_parrafo {
    color: var(--text-dark);
    font-weight: bold;
    font-size: 24px;
}

.parrafo_debil {
    margin: 0;
    font-size: 20px;
    color: var(--text-light);
}

/*-------------------
------ABOUT US-------
-------------------*/

.aboutus {
    display: flex;
    flex-direction: column;
    max-width: var(--maximo_ancho);
    margin: 0 auto;
    height: 140vh;
}

.sobre_img {
    height: 350px;
    width: 550px;
}

.sobre_icon {
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}

.card_interno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
    padding: 0 40px;
    margin: 0 auto;
}

.card_sobre {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}

.card_interno_texto {
    font-size: 30px;
    color: var(--text-dark);
    margin-bottom: 20px;
    font-weight: bold;
}

.card_interno_parrafo {
    font-size: 17px;
    color: var(--text-light);
}

.sobre_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

/*-------------------
------PRODUCTS-------
-------------------*/

.products {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: var(--maximo_ancho);
    margin: 0 auto;
    height: 100vh;
}

.fondo_producto {
    height: 600px;
    width: 100%;
    background-color: #ece4d7;

}

.img_products {
    height: 350px;
    width: 350px;
}

.fila_producto {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.columna_producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.products_texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.titulo_product_texto {
    font-size: 20px;
    color: var(--text-dark);
    margin: 20px 0;
    font-weight: bold;
}

.parrafo_product_texto {
    font-size: 20px;
    color: var(--text-light);
    width: 350px;
}

/*-------------------
------SERVICES-------
-------------------*/

.services {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: var(--maximo_ancho);
    margin: 0 auto;
    height: 100vh;
}

.textos_servicios {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.img_services {
    height: 50px;
    width: 50px;
}

.fila_services {
    display: flex;
    justify-content: center;
    align-items: center;
}

.columna_services {
    display: flex;
    flex-direction: column;
}

/*-------------------
----TESTIMONIALS-----
-------------------*/

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 100%;
    margin: 0 auto;
    height: 50vh;
    background-color: var(--color_secundario);
}