* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    width: 1000px;
    width: 90%;
    height: 800px;
    background-color: #c2c2c2;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    /*flex-direction: column;*/
    /*flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;*/
    /*flex-wrap: wrap;*/
    /*flex-wrap: no-wrap;
    flex-wrap: wrap-reverse;*/
    /*flex-flow: column-reverse wrap;*/
    justify-content: flex-start;
    /*justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;*/
   /*  align-items: stretch;
    align-items: flex-start;
    align-items: flex-end;
    align-items: baseline; */
    /*align-content: flex-start;
    align-content: flex-end;
    align-content: center;
    align-content: space-between;
    align-content: space-around;
    align-content: space-evenly;
    align-content: stretch;*/
    /*gap: 30px; /*unión entre cajas*/
}

section div {
    height: 200px;
    width: 200px;
    background-color: #222;
    color: #fff;
    border: 2px solid #992424;
    font-size: 30px;
}

/* section div:first-child {
    background-color: #992424;
    font-size: 75px;
}

section div:last-child {
    font-size: 60px;
} */

section div:nth-child(1) {
    background-color: #992424;
    /*order: 3;*/
    /*flex-grow: 1;*/
    flex: 0 0 400px;
}

section div:nth-child(2) {
    background-color: steelblue;
    /*order: 2;*/
    /*flex-grow: 4;*/
    align-self: flex-end;
}

section div:nth-child(3) {
    background-color: greenyellow;
    /*order: 1;*/
    /*flex-grow: 0;*/
    /*flex-shrink: 3;*/
    /*flex-basis: 300px; depende del eje (puede crecer en ancho o alto)*/
}

