* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color_primario: #f6e231;
    --color_secundario: #2a2929;
    --color_blanco: #c2c2c2;
    --tamaño_fuente:18px;
    --maximo_ancho: 1200px;
    --alto__nav:70px;
}

::selection {
    background-color: var(--color_primario);
    color: var(--color_secundario);
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: var(--tamaño_fuente);
    background-color: var(--color_secundario);
    color: var(--color_blanco);
}

header {
    background-color: var(--color_primario);
    /* position: fixed; sirve para que la barra de búsqueda quede fija, es lo mismo que sticky*/
    position: sticky;
    width: 100%;
    top: 0;
}

/* section {
    
} */

.contenedor {
    width: 100%;
    max-width: var(--maximo_ancho);
    margin: 0 auto;
    overflow: hidden;
}

.h-100 {
    height: calc(100vh - var(--alto__nav))
}

/* .nav {
    height: 70px;
} */

.nav__contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__lista {
    height: var(--alto__nav);
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.logo {
    height: 60px;
    width: 90px;
}

.nav__link {
    text-decoration: none;
    color: var(--color_secundario);
    font-weight: bold;
}

/*-------------------
------Principal------
-------------------*/

.principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imgprin {
    height: 500px;
    width: 400px;
    order: 1;
    flex-basis: 37%;
}
.contenedor-textos {
    order: 0;
    flex-basis: 45%;
}

.titulo {
    font-size: 48px;
    font-weight: 700;
}

.parrafo {
    margin: 20px 0;
    font-weight: 300;
    font-size: 24px;
}

.btn {
    display: inline-block;
    background-color: var(--color_primario);
    color: var(--color_secundario);
    text-decoration: none;
    font-weight: 700;
    padding: 16px 30px;
    border-radius: 30px;
}

/*-------------------
------Servicios------
-------------------*/

.servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-center {
    text-align: center;
}
.cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card__item {
    max-width: 350px;
    width: 30%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    background-color: var(--color_blanco);
    color: var(--color_secundario);
    padding: 40px 0;
    border-radius: 10px;
}

.card__item--activo {
    background-color: var(--color_primario);
}

.btn--negro {
    background-color: var(--color_secundario);
    color: var(--color_blanco);
}

.card__plan {
    margin-bottom: 20px;
}

.card__precio {
    font-size: 3rem;
    margin-bottom: 20px;
}

.card__caracteristica {
    margin-bottom: 25px;
}

/*-------------------
------Galeria------
-------------------*/

.galeria {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.img_item {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.altimg {
    height: 250px;
    width: 350px;
    margin-bottom: 30px;  
}

.textos_galeria {
    text-align: center;
    margin-top: 60px;
}


/*-------------------
------Contacto------
-------------------*/

.contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nombre {
    height: 40px;
    width: 350px;
    border-radius: 8px;
    margin: 5px 0;
}

.apellidos {
    height: 40px;
    width: 350px;
    border-radius: 8px;
    margin: 5px 0;
}

.telefono {
    height: 40px;
    width: 350px;
    border-radius: 8px;
    margin: 5px 0;
}

.email {
    height: 40px;
    width: 350px;
    border-radius: 8px;
    margin: 5px 0;
}

.mensaje {
    height: 270px;
    width: 350px;
    border-radius: 8px;
    margin-top: 5px 0;
}

.btn_form {
    height: 40px;
    width: 350px;
    border-radius: 20px;
    margin: 20px 0;
    background-color: var(--color_primario);
    color: var(--color_secundario);
    font-weight: 700;
}
